# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env

# Dependency directories
venv/
env/
ENV/
assets

# User-specific files
*.pyc
*.swp
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Log files
*.log
*.db